
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar start */
.card{
    min-height: 200vh;
    padding: 20px;
    /* background-color: cyan; */
}



.navbar{

    height: 70px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.etech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1;
    line-height: 10;
    text-decoration: none;
}

.navbar1{
    height: 70px;
    width: 500px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar1 a{
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
.enroll{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
}

.enroll a{
    color: #000;
    text-decoration: none;

}

.trial a{
    text-decoration: none;
    color: white;
}
 .free{
    width: 350px;
} 

.trial{
    margin-left: 10px;
    /* border: 2px solid gray; */
    border-radius: 10px;
    padding: 12px 25px;
    border: none;
    color: white;
    background:linear-gradient(to right,rgba(177,133,199,255),hotpink);
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 25px;

}

.etech:hover{
    color: hotpink;
}

#navbar-links a:hover{
    color: hotpink;
        /* background: linear-gradient(to right, rgba(177, 133, 199, 1), hotpink);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent; */
    
    
}



/* nav tablet */

@media  screen and (max-width:768px){
    .navbar1{
        /* background-color: red; */
        justify-content: space-around;
    }
}





/* navbar mobile screen   */

@media only screen and (max-width:425px){
    .navbar1{
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 0px;
        margin-top: 70px;
        height: 300px;
        left: 0px;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
    }
    .free{
        display: none;
        background-color: red;
    }
  
    .hamburger{
        display: block;
        cursor: pointer;
        cursor: pointer;
    }
    .etech{
        font-size: 30px;
    }
    #menu-icon{
        font-size: 25px;
    }
    .navbar1 a{
        font-size: 20px;
    }
} 


/* mobile screen  end */


/* nav bar end */




.topcard{
    text-align: center;
    font-size: 90px;
    height: 300px;
    width: 100%;
}

.e{
    color: purple;
}

.bottomcard{
    height: 920px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5%;
    padding-left: 200px;
}

.leftcard1{
    height: 100%;
    width: 30%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.leftcard1 h1{
    font-size: 40px;
    font-weight: 800;
}

.leftcard1 p{
    margin-top: 30px;
    font-size: 30px;

}

.rightcard1{
height: 100%;
width: 53%;
text-align: start;
border-radius: 30px;
padding: 30px;
background:linear-gradient(to right,rgba(177,133,199,255),hotpink);

}

.rightcard1 h1{
    font-size: 35px;
    margin-bottom: 30px;
}

.rightcard1 span{
    color: white;
}

.input{
    height: 80px;
    width: 100%;
    /* background-color: yellow; */
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;   

}

label{
    color: white;
    font-weight: 700;
}

input{
    border: none;
    background-color: transparent;
    border: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 30px;
}
.input1,.input2{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    margin-right: 20px;
}

.input3{
    width: 80%;
    margin-top: 30px;
}

.input4{
    width: 100%;
    margin-top: 30px;
}

.submit{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: purple;
    background-color: white;
    border: none;
    margin-top: 50px;
    font-size: 20px;
}

.submit a{
    text-decoration: none;
    color: purple;
}



@media  screen and (max-width:768px){
    .card{
        height: auto;
        width: 100%;
        /* background-color: red; */
    }

    .topcard{
        height: auto;
        font-size: 50px;
        /* background-color: blue; */
    }
    .bottomcard{
        height: auto;
        width: 100%;
        padding: 0px;
        /* background-color: yellow; */
    }
    .leftcard1{
        height: auto;
        width: 50%;
        margin: 0px;
        /* background-color: blue; */
    }
    .rightcard1{
        background-color: greenyellow;
    }
    
}






@media screen and (max-width:425px){

    .card{
        padding: 20px;
        margin: 0px;
    }
    .topcard{
        font-size: 30px;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
     
        
    }
    .bottomcard{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        margin-left: 0px;
        /* background-color: rebeccapurple; */

    }
    .leftcard1{
        width:100%;
        height: auto;
        text-align: center;
        /* background-color: red; */
      
    
    }
    .leftcard1 h1{
        font-size: 30px;
    }
    .leftcard1 p{
            font-size: 20px;
    }
    .rightcard1{
        width: 100%;
        margin-top: 10px;
    }
  
    
}








/* footer start */
.footer{
    height: 50vh;
background:linear-gradient(to right,rgba(177,133,199,255),hotpink);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin-top: 70px;
}

.footer1{
    height: 280px;
    width: 350px;
    color: white;
    margin-right: 170px;
    

}

.footer1 img{
    height: 100px;
    width: 100px;
}

.footer11 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer11 h2{
    font-size: 30px;
    color:white ;
    
}

.footer2{
    height:280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    color: white;
}


.footer2 i{
    margin-right: 10px;
}


.footer3{
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    gap: 2px;
    color: white;
}

.footer3 i{
    margin-right: 10px;
}


/* footer tablet */

@media  screen and (max-width:768px){
    .footer{
        width: 100%;
        height: auto;
        gap: 10px;
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
        background-color: tomato;
    }
    .footer1{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        /* background-color: palegoldenrod; */
    }
    .footer2{
        padding-top: 30px;
        margin: 0px;
        text-align: start;
        width: 100%;
        margin-top: 10px;
        /* background-color:goldenrod; */
    }
    .footer3{
        padding-top: 30px;
        text-align: center;
        /* background-color: orange; */
    }
   
   
}

/* footer mobile */


@media screen and (max-width: 425px) {
    .footer {
        width: 90%;
      flex-direction: column;
      margin: 20px;
      align-items: flex-start;
      height: auto;
      padding: 20px;
      gap: 30px;
    }
    
  
    .footer1,
    .footer2,
    .footer3 {
      width: 100%;
      height: auto;
   
    }
   
  
    .footer11 {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
  
    .footer1 img {
      height: 80px;
      width: 80px;
      margin-bottom: 10px;
    }
  
    .footer11 h2 {
      font-size: 24px;
    }
  
    .footer2 span,
    .footer3 p {
      font-size:14px;
  }
  .footer3{
  
    align-items: start;
  }
  }
  








/* footer end */